<template name="Header">

  <div class="ui top fixed inverted borderless menu">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1><i class="ticket icon"></i>TCKTS</h1></a>
      {{#if currentUser}}
      <a class="right item">{{> Cas_Login }}</a>

      <div class="ui inverted borderless menu">
        <div class="ui simple dropdown item">
            Menu
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="{{ isActiveRoute 'Profile_Page'}} item" href="{{ pathFor 'Profile_Page' }}">Profile</a>
            <a class="{{ isActiveRoute 'Edit_Profile_Page'}} item" href="{{ pathFor 'Edit_Profile_Page' }}">Edit Profile</a>
            <a class="{{ isActiveRoute 'Events_Page'}} item" href="{{ pathFor 'Events_Page' }}">Events</a>
            <a class="{{ isActiveRoute 'Sell_Tickets_Page'}} item" href="{{ pathFor 'Sell_Tickets_Page' }}">Sell</a>
            <a class="{{ isActiveRoute 'Inbox'}} item" href="{{ pathFor 'Inbox' }}">Inbox</a>
            {{#If_Is_Admin}}
            <a class="{{ isActiveRoute 'Edit_Event_Page'}} item" href="{{ pathFor 'Edit_Event_Page' }}">Edit Events</a>
            <a class="{{ isActiveRoute 'Users_Page'}} item" href="{{ pathFor 'Users_Page' }}">Users</a>
            {{/If_Is_Admin}}
          </div>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</template>