/*
 * Font
 */
@import url('https://fonts.googleapis.com/css?family=Expletus+Sans:400,400i');

body {
  /*padding-top: 100px;  /* Move body of page below navbar. */
}

/*
 * Public Landing Page
 */

.fadeInFourth {
  opacity: 0;
/*  font-family: 'Expletus Sans', cursive;*/
}

.fadeInFifth {
  opacity: 0;
/*  font-family: 'Expletus Sans', cursive;*/
}

.fadeInSixth {
  opacity: 0;
/*  font-family: 'Expletus Sans', cursive;*/
}

.ui.vertical.inverted.center.aligned.segment {
  background: url("/images/concert.jpg"), linear-gradient(rgba(0, 0, 0, 2), rgba(0, 0, 0, 2)), no-repeat center center fixed;
  background-size: cover;
  min-height: 700px;
}

.sell-page-background{
  background: url("/images/final-sell-page-background.jpg");
  background-size: cover;
  padding-top: 0px;
  min-height: 700px;
}

#titleFadeRight {
  color: #F2F3F5;
/*  font-family: 'Expletus Sans', cursive;*/
}

#subtitleFadeLeft {
  color: #F2F3F5;
/*  font-family: 'Expletus Sans', cursive;*/
}
